/.settings
/.project
/.classpath
/target
/build
/demo
/core
/bin
/mtcore
/mtcore
/.myumldata
/src-2
/src-4
/mtcore
/logs
/src-2
/src-5
/.myeclipse/
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/src/main/webapp/crossdomain.xml
/.reverse.properties
